# Database Configuration
DATABASE_URL=postgresql://username:password@your-rds-endpoint.amazonaws.com:5432/ayusync_db

# AWS Configuration
AWS_ACCESS_KEY_ID="your_aws_access_key_id_here"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key_here"
AWS_REGION=us-east-1

# EventBridge Configuration
AWS_EVENTBRIDGE_BUS_NAME=ayusync-event-bus
